<div class="row container-fluid">
  <div class="col-xl-12 col-lg-12">
    <form [formGroup]="memberForm" (ngSubmit)="updateMember()" class="mb-3">

      <div class="mb-3">
        <label for="id" class="form-label">Id: </label>
        <input type="text" class="form-control" id="id" name="id" formControlName="id" [attr.disabled]="true">
      </div>

      <div class="mb-3 text-danger"
           *ngIf="memberForm.get('id').hasError('required') &&
                  (memberForm.get('id').dirty || memberForm.get('id').touched)">
        Please type member id!
      </div>

      <div class="mb-3 text-danger"
           *ngIf="memberForm.get('id').hasError('pattern') &&
                  (memberForm.get('id').dirty || memberForm.get('id').touched)">
        Please type right member id format!
      </div>

      <div class="mb-3">
        <label for="name" class="form-label">Name: </label>
        <input type="text" class="form-control" id="name" name="name" formControlName="name">
      </div>

      <div class="mb-3 text-danger"
           *ngIf="memberForm.get('name').hasError('required') &&
                  (memberForm.get('name').dirty || memberForm.get('name').touched)">
        Please type member name!
      </div>

      <div class="mb-3">
        <label for="identityNumber" class="form-label">Identity Number: </label>
        <input type="text" class="form-control" id="identityNumber" name="identityNumber"
               formControlName="identityNumber">
      </div>

      <div class="mb-3 text-danger"
           *ngIf="memberForm.get('identityNumber').hasError('required') &&
                  (memberForm.get('identityNumber').dirty || memberForm.get('identityNumber').touched)">
        Please type identity number!
      </div>

      <div class="mb-3 text-danger"
           *ngIf="memberForm.get('identityNumber').hasError('pattern') &&
                  (memberForm.get('identityNumber').dirty || memberForm.get('identityNumber').touched)">
        Please type right identity number format!
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email: </label>
        <input type="text" class="form-control" id="email" name="email" formControlName="email">
      </div>

      <div class="mb-3 text-danger"
           *ngIf="memberForm.get('email').hasError('required') &&
                  (memberForm.get('email').dirty || memberForm.get('email').touched)">
        Please type email!
      </div>

      <div class="mb-3 text-danger"
           *ngIf="memberForm.get('email').hasError('email') &&
                  (memberForm.get('email').dirty || memberForm.get('email').touched)">
        Please type right email format!
      </div>

      <div class="mb-3">
        <label for="phoneNumber" class="form-label">Phone Number: </label>
        <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" formControlName="phoneNumber">
      </div>

      <div class="mb-3 text-danger"
           *ngIf="memberForm.get('phoneNumber').hasError('required') &&
                  (memberForm.get('phoneNumber').dirty || memberForm.get('phoneNumber').touched)">
        Please type phone number!
      </div>

      <div class="mb-3 text-danger"
           *ngIf="memberForm.get('phoneNumber').hasError('pattern') &&
                  (memberForm.get('phoneNumber').dirty || memberForm.get('phoneNumber').touched)">
        Please type right phone number format!
      </div>

      <div class="mb-3">
        <label for="address" class="form-label">Address: </label>
        <input type="text" class="form-control" id="address" name="address" formControlName="address">
      </div>

      <div class="mb-3 text-danger"
           *ngIf="memberForm.get('address').hasError('required') &&
                  (memberForm.get('address').dirty || memberForm.get('address').touched)">
        Please type address!
      </div>

      <button type="submit" class="btn btn-secondary" >Update Member</button>

      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left-circle-fill ms-5" viewBox="0 0 16 16">
        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
      </svg>
      <a routerLink="/member" class="ms-1 text-decoration-none text-dark">Back to member list!</a>
    </form>
  </div>
</div>
